## 1. Читаем Excel файл

In [2]:
import numpy as np
import pandas as pd
dataframe = pd.read_excel('for_second_ex.xlsx')

In [38]:
dataframe.head()

,Commodity,Cause,Region,Country / Territory,Company,Site,Plant No.,Estimated Start Date,Expected Annual Capacity Change (kt),Total Annual Capacity (kt),Swing Capable
0,ACETIC ACID,Expected Capacity,NORTH AMERICA,UNITED STATES,CELANESE,CLEAR LAKE/TX,2,нояб. 2020,500000,200000,NaN
1,ACETIC ACID,Expected Capacity,NORTHEAST ASIA,CHINA,SHANGHAI HUAYI CHEMICAL,QINZHOU,2,янв. 2021,500000,50000,NaN
2,BENZENE,Expected Capacity,FORMER USSR,RUSSIAN FEDERATION,TANECO,NIZHNEKAMSK,1,февр. 2020,60000,60000,NaN
3,BENZENE,Expected Capacity,NORTHEAST ASIA,CHINA,ZHEJIANG PETROCHEMICAL,ZHOUSHAN,1,февр. 2020,300000,300000,NaN
4,BENZENE,Expected Capacity,NORTHEAST ASIA,CHINA,ZHEJIANG PETROCHEMICAL,ZHOUSHAN,2,февр. 2020,150000,150000,NaN

## 2. Создаем Dataframe с определенными колонками

In [7]:
Dataframe = dataframe[['Commodity', 'Region', 'Company', 'Plant No.','Expected Annual Capacity Change (kt)','Total Annual Capacity (kt)']]

In [5]:
Dataframe.head()

,Commodity,Region,Company,Plant No.,Expected Annual Capacity Change (kt),Total Annual Capacity (kt)
0,ACETIC ACID,NORTH AMERICA,CELANESE,2,500000,200000
1,ACETIC ACID,NORTHEAST ASIA,SHANGHAI HUAYI CHEMICAL,2,500000,50000
2,BENZENE,FORMER USSR,TANECO,1,60000,60000
3,BENZENE,NORTHEAST ASIA,ZHEJIANG PETROCHEMICAL,1,300000,300000
4,BENZENE,NORTHEAST ASIA,ZHEJIANG PETROCHEMICAL,2,150000,150000

## 3. Выводим все строки, где Expected Annual Capacity Change >= Total Annual Capacity

In [9]:
filter_1 = Dataframe['Expected Annual Capacity Change (kt)'] >= Dataframe['Total Annual Capacity (kt)']
Dataframe.loc[filter_1]

,Commodity,Region,Company,Plant No.,Expected Annual Capacity Change (kt),Total Annual Capacity (kt)
0,ACETIC ACID,NORTH AMERICA,CELANESE,2,500000,200000
1,ACETIC ACID,NORTHEAST ASIA,SHANGHAI HUAYI CHEMICAL,2,500000,50000
2,BENZENE,FORMER USSR,TANECO,1,60000,60000
3,BENZENE,NORTHEAST ASIA,ZHEJIANG PETROCHEMICAL,1,300000,300000
4,BENZENE,NORTHEAST ASIA,ZHEJIANG PETROCHEMICAL,2,150000,150000
...,...,...,...,...,...,...
165,STYRENE,NORTHEAST ASIA,DONGMING ZHONGXIN GUOAN RUIHUA NEW MAT.,1,200000,200000
166,STYRENE,NORTHEAST ASIA,SINOCHEM QUANZHOU PETROCHEMICAL,1,450000,450000
167,TOLUENE,FORMER USSR,TANECO,1,195000,195000
168,TOLUENE,NORTHEAST ASIA,ZHEJIANG PETROCHEMICAL,1,980000,980000
169,TOLUENE,NORTHEAST ASIA,ZHEJIANG PETROCHEMICAL,2,980000,980000

In [14]:
a = Dataframe['Expected Annual Capacity Change (kt)']
b = Dataframe['Total Annual Capacity (kt)']
Dataframe.query('@a > = @b')

,Commodity,Region,Company,Plant No.,Expected Annual Capacity Change (kt),Total Annual Capacity (kt)
0,ACETIC ACID,NORTH AMERICA,CELANESE,2,500000,200000
1,ACETIC ACID,NORTHEAST ASIA,SHANGHAI HUAYI CHEMICAL,2,500000,50000
2,BENZENE,FORMER USSR,TANECO,1,60000,60000
3,BENZENE,NORTHEAST ASIA,ZHEJIANG PETROCHEMICAL,1,300000,300000
4,BENZENE,NORTHEAST ASIA,ZHEJIANG PETROCHEMICAL,2,150000,150000
...,...,...,...,...,...,...
165,STYRENE,NORTHEAST ASIA,DONGMING ZHONGXIN GUOAN RUIHUA NEW MAT.,1,200000,200000
166,STYRENE,NORTHEAST ASIA,SINOCHEM QUANZHOU PETROCHEMICAL,1,450000,450000
167,TOLUENE,FORMER USSR,TANECO,1,195000,195000
168,TOLUENE,NORTHEAST ASIA,ZHEJIANG PETROCHEMICAL,1,980000,980000
169,TOLUENE,NORTHEAST ASIA,ZHEJIANG PETROCHEMICAL,2,980000,980000

## 4. Вывести первые 4 столбца dataframe и первые 50 строк

In [34]:
dataframe.iloc[:50,0:3]

           Commodity              Cause                    Region
0        ACETIC ACID  Expected Capacity             NORTH AMERICA
1        ACETIC ACID  Expected Capacity            NORTHEAST ASIA
2            BENZENE  Expected Capacity               FORMER USSR
3            BENZENE  Expected Capacity            NORTHEAST ASIA
4            BENZENE  Expected Capacity            NORTHEAST ASIA
5            BENZENE  Expected Capacity            NORTHEAST ASIA
6            BENZENE  Expected Capacity            NORTHEAST ASIA
7            BENZENE  Expected Capacity            NORTHEAST ASIA
8            BENZENE  Expected Capacity            NORTHEAST ASIA
9            BENZENE  Expected Capacity            NORTHEAST ASIA
10           BENZENE  Expected Capacity            NORTHEAST ASIA
11           BENZENE  Expected Capacity               MIDDLE EAST
12           BENZENE  Expected Capacity            NORTHEAST ASIA
13           BENZENE  Expected Capacity            NORTHEAST ASIA
14           BENZENE  Expected Capacity            NORTHEAST ASIA
15         BUTADIENE  Expected Capacity            NORTHEAST ASIA
16         BUTADIENE  Expected Capacity            NORTHEAST ASIA
17         BUTADIENE  Expected Capacity            NORTHEAST ASIA
18         BUTADIENE  Expected Capacity            NORTHEAST ASIA
19         BUTADIENE  Expected Capacity  SOUTH AND SOUTHEAST ASIA
20         BUTADIENE  Expected Capacity            NORTHEAST ASIA
21         BUTADIENE  Expected Capacity            NORTHEAST ASIA
22         BUTADIENE  Expected Capacity            NORTHEAST ASIA
23       CAPROLACTAM  Expected Capacity            NORTHEAST ASIA
24       CAPROLACTAM  Expected Capacity            NORTHEAST ASIA
25       CAPROLACTAM  Expected Capacity            NORTHEAST ASIA
26          ETHYLENE  Expected Capacity             NORTH AMERICA
27          ETHYLENE  Expected Capacity            NORTHEAST ASIA
28          ETHYLENE  Expected Capacity  SOUTH AND SOUTHEAST ASIA
29          ETHYLENE  Expected Capacity             NORTH AMERICA
30          ETHYLENE  Expected Capacity             NORTH AMERICA
31          ETHYLENE  Expected Capacity             NORTH AMERICA
32          ETHYLENE  Expected Capacity               MIDDLE EAST
33          ETHYLENE  Expected Capacity            NORTHEAST ASIA
34          ETHYLENE  Expected Capacity            NORTHEAST ASIA
35          ETHYLENE  Expected Capacity               FORMER USSR
36          ETHYLENE  Expected Capacity            NORTHEAST ASIA
37          ETHYLENE  Expected Capacity            NORTHEAST ASIA
38          ETHYLENE  Expected Capacity               MIDDLE EAST
39          ETHYLENE  Expected Capacity             NORTH AMERICA
40          ETHYLENE  Expected Capacity            NORTHEAST ASIA
41          ETHYLENE  Expected Capacity            NORTHEAST ASIA
42          ETHYLENE  Expected Capacity               FORMER USSR
43          ETHYLENE  Expected Capacity  SOUTH AND SOUTHEAST ASIA
44          ETHYLENE  Expected Capacity            NORTHEAST ASIA
45          ETHYLENE  Expected Capacity  SOUTH AND SOUTHEAST ASIA
46          ETHYLENE  Expected Capacity            NORTHEAST ASIA
47          ETHYLENE  Expected Capacity            NORTHEAST ASIA
48  ETHYLENE GLYCOLS  Expected Capacity  SOUTH AND SOUTHEAST ASIA
49  ETHYLENE GLYCOLS  Expected Capacity            NORTHEAST ASIA

## 5 Вывести количество строк где:  
  5.1. Plant No. = 1

In [25]:
len(Dataframe.loc[Dataframe['Plant No.'] == 1])

103

5.2. Region = NORTHEAST ASIA

In [28]:
len(Dataframe.loc[Dataframe['Region'] == 'NORTHEAST ASIA'])

107

## 6. Заменить все значения HDPE в колонке Commodity на HIGH DENSITY POLYETHYLENE, сохранить данные изменения.

In [36]:
dataframe['Commodity'] = dataframe['Commodity'].replace('HDPE', 'HIGH DENSITY POLYETHYLENE')
dataframe

,Commodity,Cause,Region,Country / Territory,Company,Site,Plant No.,Estimated Start Date,Expected Annual Capacity Change (kt),Total Annual Capacity (kt),Swing Capable
0,ACETIC ACID,Expected Capacity,NORTH AMERICA,UNITED STATES,CELANESE,CLEAR LAKE/TX,2,нояб. 2020,500000,200000,NaN
1,ACETIC ACID,Expected Capacity,NORTHEAST ASIA,CHINA,SHANGHAI HUAYI CHEMICAL,QINZHOU,2,янв. 2021,500000,50000,NaN
2,BENZENE,Expected Capacity,FORMER USSR,RUSSIAN FEDERATION,TANECO,NIZHNEKAMSK,1,февр. 2020,60000,60000,NaN
3,BENZENE,Expected Capacity,NORTHEAST ASIA,CHINA,ZHEJIANG PETROCHEMICAL,ZHOUSHAN,1,февр. 2020,300000,300000,NaN
4,BENZENE,Expected Capacity,NORTHEAST ASIA,CHINA,ZHEJIANG PETROCHEMICAL,ZHOUSHAN,2,февр. 2020,150000,150000,NaN
...,...,...,...,...,...,...,...,...,...,...,...
165,STYRENE,Expected Capacity,NORTHEAST ASIA,CHINA,DONGMING ZHONGXIN GUOAN RUIHUA NEW MAT.,HEZE,1,авг. 2020,200000,200000,NaN
166,STYRENE,Expected Capacity,NORTHEAST ASIA,CHINA,SINOCHEM QUANZHOU PETROCHEMICAL,QUANZHOU,1,дек. 2020,450000,450000,NaN
167,TOLUENE,Expected Capacity,FORMER USSR,RUSSIAN FEDERATION,TANECO,NIZHNEKAMSK,1,февр. 2020,195000,195000,NaN
168,TOLUENE,Expected Capacity,NORTHEAST ASIA,CHINA,ZHEJIANG PETROCHEMICAL,ZHOUSHAN,1,февр. 2020,980000,980000,NaN
169,TOLUENE,Expected Capacity,NORTHEAST ASIA,CHINA,ZHEJIANG PETROCHEMICAL,ZHOUSHAN,2,февр. 2020,980000,980000,NaN

In [42]:
dataframe.to_excel('for_second_ex.xlsx')#это я так назвал exel файл